@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <section class="page-section">
        <div class="profile-head">
            <h1 class="content">Welcome to <br> Sepuluh September Institute of Technology</h1>
            <img src="~/img/school-picture.jpg" alt="..." style="max-width: 100%; height: auto;" />
        </div>
    </section>
</div>
